<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.momoleague">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MakeListActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ListGamesActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".WeekGuessActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".LastGameActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".TableActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>